# Environment & Secret files
.env
.env.local
*.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
.venv/
venv/
ENV/
env/

# IDE & OS files
.DS_Store
.vscode/
.idea/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Node & Frontend
node_modules/
dist/
dist-ssr/
frontend/.env

